* {
    box-sizing: border-box;
    overflow: hidden;
}

html,
body {
    overflow-y: scroll;
}


/* #header{
    background-color: blue;
}

#products{
    background-color: red;
} */

#header logo img {
    float: left;
    width: 250px;
    height: auto;
}


#header search input {
    padding: 10 px;
    font-size: 1.5em;
    border: 1px solid grey;
    border-radius: 2px;
    float: left;
    background: #f1f1f1;
    margin-left: 10%;
    margin-top: 5vmax;
    border-radius: 4px;
}

#header search img {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    width: auto;
    height: 2em;
    border: 1px solid grey;
    border-radius: 4px;
    margin-top: 5vmax;
}

#header search img:hover {
    background: #0b7dda;
}

#header::after {
    content: "";
    clear: both;
    display: table;
}

hr.solid {
    border-top: 1px solid #bbb;
    margin-top: 5%;
}

#content {
    padding: .1em .1em;
    border: double blue;
    max-height: 1vm;
}

#content h1,
h2 {
    text-align: center;
    line-height: 0.5em;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    overflow: visible;
}

#content h2 {
    font-size: smaller;
}

#products {
    float: right;
    width: 80%;
    margin-top: 0px;
    margin-right: 2%;
    margin-bottom: 1em;
    clear: both;
}

#products img {
    float: left;
    margin: 0px 6px;
}


#products h3 {
    text-align: center;

}

#category {
    min-width: 10%;
    max-width: 30%;
    overflow: hidden;
}

#category:after {
    content: "";
    display: table;
    clear: both;
    float: left;
    width: 10%;
}

#category a {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    border: inset 0.1px black;
}

#category a:hover {
    background-color: #ccc;
}

#category a.active {
    font-size: larger;
    font-style: bolder;
    background-color: rgb(111, 111, 196);
}